[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
alembic = "*"
sqlmodel = "*"
asyncpg = "*"
sqlalchemy = "*"
pyjwt = "*"
boto3 = "*"
python-multipart = "*"
pytest = "*"
httpx = "*"
pytest-asyncio = "*"

[dev-packages]

[requires]
python_version = "3.11"
