[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
alembic = "*"
sqlmodel = "*"
asyncpg = "*"
passlib = "*"
sqlalchemy = "*"
pyjwt = "*"
factory-boy = "*"
pytest = "*"
httpx = "*"
pytest-asyncio = "*"
celery = "*"

[dev-packages]

[requires]
python_version = "3.11"
